{% extends '::base.html.twig' %}

{% block meta_description -%}
    {% if page.translation.metaDescription %}
        {{- page.translation.metaDescription -}}
    {% else %}
        {{- site.translation.metaDescription -}}
    {% endif %}
{%- endblock %}

{% block meta_title -%}
    {% if page.translation.metaTitle %}
        {{- page.translation.metaTitle -}}
    {% else %}
        {{- block('title') -}}
    {% endif %}
{%- endblock %}

{% block brand -%}
    {{ site.translation.brand|raw }}
{%- endblock %}

{% block title -%}
    {{ page.translation.title|raw }}
{%- endblock %}

{% block css -%}
    {{- site.css|raw -}}
    {{- page.css|raw -}}
{%- endblock %}

{% block js -%}
    {{ site.js|raw }}
    {{ page.js|raw }}
{%- endblock %}

{% block flash %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success fade in">
            <i class="icon-large icon-ok-sign"></i> <span>{{ flashMessage }}</span>
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-danger fade in">
            <i class="icon-large icon-exclamation-sign"></i> <span>{{ flashMessage }}</span>
        </div>
    {% endfor %}
{% endblock %}
