{% extends '::base.html.twig' %}

{% block meta_description -%}
    {% if page.translation.metaDescription %}
        {{- page.translation.metaDescription -}}
    {% else %}
        {{- site.translation.metaDescription -}}
    {% endif %}
{%- endblock %}

{% block meta_title -%}
    {% if page.translation.metaTitle %}
        {{- page.translation.metaTitle -}}
    {% else %}
        {{- block('title') -}}
    {% endif %}
{%- endblock %}

{% block brand -%}
    {{ site.translation.brand|raw }}
{%- endblock %}

{% block title -%}
    {{ page.translation.title|raw }}
{%- endblock %}

{% block css -%}
    {{- site.css|raw -}}
    {{- page.css|raw -}}
{%- endblock %}

{% block js -%}
    {{ site.js|raw }}
    {{ page.js|raw }}
{%- endblock %}

{% block flash %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success alert-dismissible fade in">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true"><i class="fa fa-times"></i></span><span class="sr-only">close</span></button>
            {{ flashMessage|trans }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-danger alert-dismissible fade in">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true"><i class="fa fa-times"></i></span><span class="sr-only">close</span></button>
            {{ flashMessage|trans }}
        </div>
    {% endfor %}
{% endblock %}
