{% form_theme form 'MsiAdminBundle:Form:form.html.twig' %}

{% trans_default_domain 'admin' %}

<ul class="nav nav-tabs">
    <li class="active"><a href="#content2" data-toggle="tab">{{ 'tab.main'|trans }}</a></li>
    <li><a href="#seo" data-toggle="tab">SEO</a></li>
    <li><a href="#admin" data-toggle="tab">{{ 'tab.advanced'|trans }}</a></li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="content2">
        {% for translation in form.translations %}
            {{ form_row(translation.published) }}
        {% endfor %}
        {% if form.site is defined %}
            {{ form_row(form.site) }}
        {% endif %}
        {% if form.template is defined %}
            {{ form_row(form.template) }}
        {% endif %}

        {% for translation in form.translations %}
            {{ form_row(translation.title) }}
            {{ form_widget(translation.body) }}
        {% endfor %}
    </div>

    <div class="tab-pane" id="seo">
        {% for translation in form.translations %}
            {{ form_row(translation.metaDescription) }}
            {{ form_row(translation.metaTitle) }}
        {% endfor %}
    </div>

    <div class="tab-pane" id="admin">
        {{ form_row(form.route) }}
        {{ form_row(form.parent) }}
        {{ form_row(form.css) }}
        {{ form_row(form.js) }}
    </div>
</div>

{{ form_rest(form) }}
