{% form_theme form 'MsiAdminBundle:Form:form.html.twig' %}

<ul class="nav nav-tabs">
    <li class="nav-item"><a class="nav-link active" href="#content2" data-toggle="tab">Content</a></li>
    <li class="nav-item"><a class="nav-link" href="#seo" data-toggle="tab">SEO</a></li>
    {% if app.user.isSuperAdmin %}<li class="nav-item"><a class="nav-link" href="#admin" data-toggle="tab">Admin</a></li>{% endif %}
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="content2">
        {% for translation in form.translations %}
            {{ form_row(translation.published) }}
        {% endfor %}
        {% if form.site is defined %}
            {{ form_row(form.site) }}
        {% endif %}
        {% if form.template is defined %}
            {{ form_row(form.template) }}
        {% endif %}

        {% for translation in form.translations %}
            {{ form_row(translation.title) }}
            {{ form_widget(translation.body) }}
        {% endfor %}
    </div>

    <div class="tab-pane" id="seo">
        {% for translation in form.translations %}
            {{ form_row(translation.metaDescription) }}
            {{ form_row(translation.metaTitle) }}
        {% endfor %}
    </div>
    {% if app.user.isSuperAdmin %}
        <div class="tab-pane" id="admin">
            {{ form_row(form.route) }}
            {{ form_row(form.parent) }}
            {{ form_row(form.css) }}
            {{ form_row(form.js) }}
        </div>
    {% endif %}
</div>

{{ form_rest(form) }}
