{% form_theme form 'MsiAdminBundle:Form:form.html.twig' %}

{% trans_default_domain 'admin' %}

<ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">{{ 'tab.main'|trans }}</a></li>
    <li><a href="#tab2" data-toggle="tab">{{ 'tab.advanced'|trans }}</a></li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="tab1">
        {% for translation in form.translations %}
            {{ form_row(translation.published) }}
            {{ form_row(translation.name) }}
        {% endfor %}
        {{ form_row(form.page) }}
        {% for translation in form.translations %}
            {{ form_row(translation.route) }}
        {% endfor %}
        {{ form_row(form.targetBlank) }}
        {{ form_row(form.parent) }}
    </div>

    <div class="tab-pane" id="tab2">
        {{ form_row(form.linkAttributes) }}
    </div>
</div>

{{ form_rest(form) }}
