{% if admin.isGranted('update') %}
<form class="form-inline" method="post" action="{{ admin.generateUrl('moveup', {'id': row.id}) }}" style="display: inline-block;">
    <input type="text" class="form-control form-control-sm" style="width: 5em;" name="number">
    <button type="submit" class="btn btn-secondary btn-sm"><i class="fa fa-arrow-up"></i></button>
</form>
<form class="form-inline" method="post" action="{{ admin.generateUrl('movedown', {'id': row.id}) }}" style="display: inline-block;">
    <input type="text" class="form-control form-control-sm" style="width: 5em;" name="number">
    <button type="submit" class="btn btn-secondary btn-sm"><i class="fa fa-arrow-down"></i></button>
</form>


{#<a class="btn btn-secondary btn-sm" href="{{ admin.generateUrl('moveup', {'id': row.id}) }}">Move Up</a>
<a class="btn btn-secondary btn-sm" href="{{ admin.generateUrl('movedown', {'id': row.id}) }}">Move Down</a>#}

{% if admin.hasTrait('translatable') %}
    {% for locale in ['fr', 'en'] %}
        <a class="btn btn-primary btn-sm" href="{{ admin.generateUrl('edit', {'id': row.id, 'lang': locale}) }}">Edit {{ locale|upper }}</a>
    {% endfor %}
{% else %}
    <a class="btn btn-primary btn-sm" href="{{ admin.generateUrl('edit', {'id': row.id}) }}">Edit</a>
{% endif %}
{% endif %}

{% if admin.isGranted('delete') %}
<a class="btn btn-danger btn-sm confirmable" href="{{ admin.generateUrl('delete', {'id': row.id}) }}">Delete</a>
{% endif %}
